#{extends 'main.html' /}
#{set title:'SEACAR - Alunos Cadastrados' /}
#{set titleicon: 'fa fa-users icon-gradient bg-tempting-azure' /}
#{set pagetitle: 'Alunos Cadastrados' /}
#{set subheading: 'Lista de alunos cadastrados no banco de dados.' /}
#{set alunostabactive: 'mm-active' /}
#{set alunosexpanded: 'true' /}
#{set alistaractive: 'mm-active' /}
<meta charset="utf-8">

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Alunos</div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
						<th>Nome</th>
						<th>Matricula</th>
						<th>E-mail</th>
						<th>Curso</th>
						<th>Periodo</th>
						<th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    	#{list alunos}
							<tr>
								<td class="text-center">
									<strong>${_index}</strong>
								</td>
								<td><a href="@{Application.perfil(_.matricula)}">${_.nome}</a></td>
								<td>${_.matricula}</td>
								<td>${_.email}</td>
								<td>${_.curso}</td>
								<td>${_.periodo}</td>
								<td>
									<a href="@{Alunos.deletar(_.id)}">
										<button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger">Excluir</button>
                                    </a>
                                </td>
<!-- 								<td> -->
<!-- 									<a href=""> -->
<!-- 										<button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-primary">Editar</button> -->
<!-- 									</a> -->
<!-- 								</td> -->
							</tr>
						#{/list}
						#{else}
							<td></td><td>Nenhum aluno encontrado</td><td></td><td></td><td></td><td></td><td></td>
						#{/else}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>