#{extends 'main.html' /}
#{set title:'SEACAR - Adicionar Requerimento' /}
#{set titleicon: 'fa fa-file icon-gradient bg-sunny-morning' /}
#{set pagetitle: 'Novo Requerimento' /}
#{set subheading: 'Submeter novo requerimento.' /}
#{set requerimentostabactive: 'mm-active' /}
#{set requerimentosexpanded: 'true' /}
#{set rformactive: 'mm-active' /}
<meta charset="utf-8">

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Reposição de Atividades</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
            <span>Justificativa de Faltas</span>
        </a>
    </li>
</ul>

<div class="tab-content"> 
	<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<h5 class="card-title">Reposição de Atividades</h5>
				<form class="" action="@{Requerimentos.reposicao()}" method="post">
					<div class="divider"></div>
					
					
                    
                    <div class="position-relative row form-group">
						<label class="col-sm-2 col-form-label">Disciplina</label>
                        <div class="col-sm-10">
                        	<select name="idDisciplina" class="form-control">
                        		<option value="">Selecione a Disciplina</option>
                        		#{list disciplinas}
                        			<option value="${_.id}">${_.nome}</option>
                        		#{/list}
                        	</select>
                       	</div>
                    </div>
                    
                    #{error 'disciplina.nome' /}
                    
                    <button class="btn btn-secondary" type="submit">Próximo</button>
					
				</form>
			</div>
		</div>
    </div>
    <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
            	<h5 class="card-title">Justificativa de Faltas</h5>
                <form class="" action="@{Requerimentos.salvar()}" method="post">
                    <div class="divider"></div>
                    
					<input type="hidden" name="requerimento.aluno.id" value="${aluno.id}">
					<input type="hidden" name="requerimento.tipo" value="Justificativa de Faltas">
                    <div class="position-relative row form-group">
                    	<label class="col-sm-2 col-form-label">Data</label>
						<div class="col-sm-10">
							<input name="requerimento.data" type="date" class="form-control">
						</div>
					</div>
                    
                    <button class="btn btn-secondary" type="submit">Enviar</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>