#{extends 'main.html' /}
#{set title:'SEACAR - Registro de Atividades' /}
#{set titleicon: 'fa fa-archive icon-gradient bg-sunny-morning' /}
#{set requerimentostabactive: 'mm-active' /}
#{set requerimentosexpanded: 'true' /}
#{set rlistaractive: 'mm-active' /}
#{if session.get("usuario.tipo").equals("Aluno")}
	#{set pagetitle: 'Registro de Atividades' /}
	#{set subheading: 'Registro dos requerimentos que você enviou.' /}
#{/if}
#{if session.get("usuario.tipo").equals("Professor")}
	#{set pagetitle: 'Registro de Entrada' /}
	#{set subheading: 'Registro dos requerimentos que você recebeu.' /}
#{/if}
#{if session.get("usuario.tipo").equals("adm")}
	#{set pagetitle: 'Registro de Atividades' /}
	#{set subheading: 'Registro dos requerimentos cadastrados no banco de dados.' /}
#{/if}
<meta charset="utf-8">

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Requerimentos</div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
						<th>Tipo</th>
						<th>Aluno</th>
						<th>Professor</th>
						<th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    	#{list requerimentos}
							<tr>
								<td class="text-center">
									<strong>${_index}</strong>
								</td>
								<td>${_.tipo}</td>
								<td>${_.aluno?.nome}</td>
								<td>${_.professor?.nome}</td>
								<td>
									<a href="@{Requerimentos.deletar(_.id)}">
										<button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger">Excluir</button>
                                    </a>
                                </td>
							</tr>
						#{/list}
						#{else}
								<td></td><td>Nenhum requerimento encontrado</td><td></td><td></td><td></td>
						#{/else}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






