#{extends 'main.html' /}
#{set title:'SEACAR - Adicionar Requerimento' /}
#{set titleicon: 'fa fa-file icon-gradient bg-sunny-morning' /}
#{set pagetitle: 'Novo Requerimento' /}
#{set subheading: 'Submeter novo requerimento.' /}
#{set requerimentostabactive: 'mm-active' /}
#{set requerimentosexpanded: 'true' /}
#{set rformactive: 'mm-active' /}
<meta charset="utf-8">

<div class="main-card mb-3 card">
			<div class="card-body">
				<h5 class="card-title">Reposição de Atividades</h5>
				<form class="" action="@{Requerimentos.salvar()}" method="post" enctype="multipart/form-data">
					<div class="divider"></div>
					
					<input type="hidden" name="requerimento.aluno.id" value="${aluno.id}">
					<input type="hidden" name="requerimento.codTipo" value="1">
					<div class="position-relative row form-group">
						<label class="col-sm-2 col-form-label">Professor</label>
                        <div class="col-sm-10">
                        	<select name="idProfessor" id="exampleSelect" class="form-control">
                        		<option value="">-</option>
                        		#{list professores}
                        			<option value="${_.id}">${_.nome}</option>
                        		#{/list}
                        	</select>
                       	</div>
                    </div>
                    
                    
                    <div class="position-relative row form-group">
                    	<label class="col-sm-2 col-form-label">Data</label>
						<div class="col-sm-10">
							<input name="requerimento.data" type="date" class="form-control">
						</div>
					</div>
					
					<div class="position-relative form-group">
                    	<label for="exampleFile" class="">Anexo</label>
                   		<input name="foto" type="file" class="form-control-file">
                        <small class="form-text text-muted">
                       		Envie aqui a foto do documento de justificativa do motivo da falta.
                        </small>
					</div>
                    
                    <button class="btn btn-secondary" type="submit">Enviar</button>
					
				</form>
			</div>
		</div>