#{extends 'main.html' /}
#{set title:'Adicionar Professor' /}
#{set titleicon: 'fa fa-user-plus icon-gradient bg-night-fade' /}
#{set pagetitle: 'Novo Professor' /}
#{set subheading: 'Cadastrar novo professor no banco de dados.' /}
#{set professorestabactive: 'mm-active' /}
#{set professoresexpanded: 'true' /}
#{set pformactive: 'mm-active' /}
<meta charset="utf-8">

<div class="tab-content">
	<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
	    <div class="main-card mb-3 card">
	        <div class="card-body">
	        	<h5 class="card-title">Dados do Professor</h5>
	            <form class="" action="@{Professores.salvar()}" method="post">
	            	<input type="hidden" name="professor.id" value="${professor?.id}">	
	            	<div class="divider"></div>
	            	<div class="position-relative form-group">
	            		<label class="">Nome</label>
	            		<input name="professor.nome" type="text" class="form-control" value="${professor?.nome}">
            		</div>
            		
            		<div class="position-relative form-group">
	            		<label class="">Matrícula</label>
	            		<input name="professor.matricula" type="text" class="form-control" value="${professor?.matricula}">
            		</div>
            		
            		<div class="position-relative form-group">
	            		<label class="">Disciplina</label>
	            		<input name="professor.disciplina" type="text" class="form-control" value="${professor?.disciplina}">
            		</div>
            		
	            	<div class="form-row">
					    <div class="col-md-6">
					        <div class="position-relative form-group">
					        	<label class="">Email</label>
					        	<input name="professor.email" type="email" class="form-control" value="${professor?.email}">
				        	</div>
					    </div>
					    <div class="col-md-6">
					        <div class="position-relative form-group">
					        	<label class="">Senha</label>
					        	<input name="senha" type="password" class="form-control">
				        	</div>
					    </div>
					</div>
	            	
	            	<button class="mt-2 btn btn-primary" type="submit">Enviar</button>
	            	
	            	
	            	
	            </form>
	        </div>
	    </div>
	</div>