#{extends 'main.html' /}
#{set title:'Adicionar Professor' /}
<meta charset="utf-8">


<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-desktop"></i> Novo Professor</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="@{Application.index}">Início</a></li>
      <li><i class="fa fa-desktop"></i><a href="@{Professores.listar()}">Professores</a></li>
      <li>Novo Professor</li>
    </ol>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
      	Novo Professor
      </header>
      <div class="panel-body">
        <div class="form-group">
          <form class="form-horizontal" action="@{Professores.salvar()}" method="post">
          	<input type="hidden" name="professor.id" value="${professor?.id}">
            <div class="form-group">
             <label class="col-sm-2 control-label">Nome</label>
	             <div class="col-sm-10">
	             	<input type="text" class="form-control" name="professor.nome" value="${professor?.nome}">
	            </div>
            </div>
            <div class="form-group">
             <label class="col-sm-2 control-label">Matrícula</label>
             <div class="col-sm-10">
             	<input type="text" class="form-control" name="professor.matricula" value="${professor?.matricula}">
             </div>
            </div>
            <div class="form-group">
             <label class="col-sm-2 control-label">Telefone</label>
             <div class="col-sm-10">
             	<input type="text" class="form-control" name="professor.telefone" value="${professor?.telefone}">
             </div>
            </div>
            <div class="form-group">
             <label class="col-sm-2 control-label">E-mail</label>
             <div class="col-sm-10">
             	<input type="text" class="form-control" name="professor.email" value="${professor?.email}">
             </div>
            </div>
            <div class="form-group">
             <label class="col-sm-2 control-label">Disciplina</label>
             <div class="col-sm-10">
             	<input type="text" class="form-control" name="professor.disciplina" value="${professor?.disciplina}">
             </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>