<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link href="@{'public/LoginPage/css/style.css'}" rel="stylesheet">
	<script src="@{'public/LoginPage/js/script.js'}"></script>
	<script src="@{'public/LoginPage/js/script.js'}"></script>
	<!------ Include the above in your HEAD tag ---------->
	
	<div class="login-reg-panel">
								
			<div class="register-info-box">
				<h2>Bem Vindo(a) ao <strong>SEAC</strong>AR</h2>
				<p>Esta é uma plataforma de gestão de requerimentos totalmente online.</p>
			</div>
								
			<div class="white-panel">
				<form action="@{Login.autentica()}" method="post">
					<div class="login-show">
						<h2>LOGIN</h2>
						<input type="text" placeholder="Email" name="email">
						<input type="password" placeholder="Password" name="senha">
	<!-- 					<input type="button" value="Login"> -->
						<button type="submit">Login</button>
						<a href="">Forgot password?</a>
					</div>
				</form>
			</div>
		</div>