#{extends 'main.html' /}
#{set title:'Página Inicial' /}
<meta charset="utf-8">

#{set titleicon: 'fa fa-home icon-gradient bg-plum-plate' /}
#{set pagetitle: 'Página Inicial' /}
#{set subheading: 'Seja bem vind@ à sua página inicial do SEACAR.' /}
#{set indexactive: 'mm-active' /}

<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">List group contextual classes</h5>
            <ul class="list-group">
            #{if session.get("usuario.tipo").equals("Aluno")}
                <li class="list-group-item-success list-group-item">PÁGINA INICIAL DO ALUNO</li>
            #{/if}
            #{if session.get("usuario.tipo").equals("Professor")}
                <li class="list-group-item-info list-group-item">PÁGINA INICIAL DO PROFESSOR</li>
            #{/if}
            #{if session.get("usuario.tipo").equals("adm")}
                <li class="list-group-item-warning list-group-item">PÁGINA INICIAL DA SEAC</li>
            #{/if}
            <li class="list-group-item-danger list-group-item">${session.get("usuario.tipo")}</li>
            </ul>
        </div>
    </div>
</div>